@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url('../img/classic/leHavre.webp');
    background-size: cover;
}

.Rain {
    background-image: url('../img/classic/Rain.webp');
    background-size: cover;
}

.Clouds {
    background-image: url('../img/classic/Clouds.webp');
    background-size: cover;
}

.city {
    font-size: 4rem;
    font-weight: bold;
    color: black;
}

.main-date {
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

.main-hour {
    font-size: 2rem;
}

.main-temp {
    font-size: 3rem;
}

.forecast {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}